html {
    display: table;
    margin: auto;
}

body {
    font-family: 'Gentium Basic', serif;
    font-size: 10pt;
    display: table-cell;
    padding: 1em;
    width: 800px;
}

.header {
    text-align: center;
}

h1,h2 {
    font-family: 'EB Garamond', serif;
    color: #0b5394;
    margin-bottom: 0px;
    clear: both;
}


.header p {
    font-size: 9pt;
    margin-top: 0px;
}

.summary ul {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.experience .organization ul {
    text-align: justify;
}

li {
    display: inline;
    list-style: inside;
}

li:not(:first-child):before {
    content:'\2022';
    margin-right:0.5em;
    margin-left: 0.5em;
}

.address {
    display: block;
}

.designation {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    font-size: 12pt;
    display: inline;
    float:left;
}

.experience .duration {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    font-style: italic;
    display: inline;
    float: right;
}

.edu-chunk .duration {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: 'Alegreya', serif;
    font-weight: bold;
    font-style: italic;

}

.company {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    font-style: italic;
    display: inline;
}

.exp-title {
    text-align: center;
}

.work-chunk h4 {
    font-variant: normal;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 0px;
    clear: both;
}

.work-chunk ul {
    margin-top: 0px;
}


.email:before {
    content:'\2022';
    margin-right:0.5em;
    margin-left: 0.5em;
}

.degree {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    font-size: 12pt;
}

.edu-chunk {
    position: relative;
}

.work-chunk {
}

.education {
    clear: both;
}
.organization {
    clear: both;
}
